@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

body {
    background-color: #003b1b;
    font-family: "Domine", serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#dealer-cards img,
#your-cards img {
    width: 120px;
    margin-right: -50px;
}

#dealer-cards,
#your-cards {
    margin-right: 50px;
}

@media screen and (max-width: 600px) {

    #dealer-cards,
    #your-cards {
        margin-right: 60px;
    }

    #dealer-cards img,
    #your-cards img {
        margin-right: -60px;
    }
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.blackjack_button {
    font-family: "Domine", serif;
    background-color: #b6b610;
    border: none;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.blackjack_button:hover {
    background-color: #9c9c12;
}

.blackjack_button:disabled {
    background-color: #999999;
    cursor: not-allowed;
}

#results {
    font-size: 20px;
    margin-top: 20px;
    min-height: 24px;
}

#restart {
    visibility: hidden;
}

#muteButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 9999;
}

footer p,
footer a {
    color: #0c4d29;
}

.footer-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.footer-button {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.footer-button img {
    width: 30px;
    height: 30px;
}